@model IEnumerable<Product>
@using Data.Entities.Shop

@foreach (var item in Model)
{
    <div class="col-sm-6 col-md-4 col-lg-4 animate__animated animate__fadeInLeft animate__delay-1s">
        <div class="box">
            <div class="option_container">
                <div class="options">
                    <a class="option1" href="#" onclick="AddingItem(@item.ID)">
                        Add To Cart
                    </a>
                    <a asp-action="Details" asp-controller="Product" asp-route-id="@item.ID" class="option2">
                        Details
                    </a>
                </div>
            </div>
            <div class="img-box">
                <img src="@item.ThumbnailImage" alt="@item.ProductName">
            </div>
            <div class="detail-box">
                <h5>
                    @item.ProductName
                </h5>
                <h6>
                    @item.Price
                </h6>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {




        
    });

    function AddingItem(id) {
        debugger;
        alert(id);
        $("#badge").html("3");
        AjaxCall(id);
    }
    function AjaxCall(id){
        $.ajax({
            url: 'cart/addtocart',
            type: 'POST',
            data: {
                id: id
            },
            dataType: 'json',
            success: function (data) {
                alert('Data success: ' + data);
            },
            error: function (request, error) {
                alert("Request: " + JSON.stringify(request));
            }
        });
    }
        
</script>