@model IEnumerable<Product>
@using Data.Entities.Shop

@foreach (var item in Model)
{
    <div class="col-sm-6 col-md-4 col-lg-4 animate__animated animate__fadeInLeft animate__delay-1s">
        <div class="box">
            <div class="option_container">
                <div class="options">
                    <a class="option1" href="#" onclick="AddingItem(@item.ID)">
                        Add To Cart
                    </a>
                    <a asp-action="Details" asp-controller="Product" asp-route-id="@item.ID" class="option2">
                        Details
                    </a>
                </div>
            </div>
            <div class="img-box">
                <img src="@item.ThumbnailImage" alt="@item.ProductName">
            </div>
            <div class="detail-box">
                <h5>
                    @item.ProductName
                </h5>
                <h6>
                    @item.Price
                </h6>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {





    });

    function AddingItem(id) {
        debugger;
        //alert(id);
        $("#badge").html("3");
        //var s = { name: "tutorialsPoint", site: "tutorialsPoint.com", };

        AjaxCall(id);
    }
    function AjaxCall(id) {
        $.ajax({
            url: 'cart/addtocart',
            type: 'POST',
            data: {
                id: id
            },
            dataType: 'json',
            success: function (data) {
                $("#badge").html(JSON.stringify(data.no));
                myToastr(data.message[0]);
                alert('Data success: ' + JSON.stringify(data.no));
            },
            error: function (request, error) {
                myToastr(JSON.stringify(request));
                alert("Request: " + JSON.stringify(request));
            }
        });
    }
    



    //function setCookie(name, value, days) {
    //    var expires = "";
    //    if (days) {
    //        var date = new Date();
    //        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
    //        expires = "; expires=" + date.toUTCString();
    //    }
    //    document.cookie = name + "=" + (value || "") + expires + "; path=/";
    //}
    //function getCookie(name) {
    //    var nameEQ = name + "=";
    //    var ca = document.cookie.split(';');
    //    for (var i = 0; i < ca.length; i++) {
    //        var c = ca[i];
    //        while (c.charAt(0) == ' ') c = c.substring(1, c.length);
    //        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
    //    }
    //    return null;
    //}
    //function eraseCookie(name) {
    //    document.cookie = name + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    //}

</script>