@model Web.Areas.Admin.Models.Cashier.CreateSkuMainItemViewModel

@section Header{
    @*<link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />*@
    <link href="~/assets/js/Select2ToTree/select2totree.css" rel="stylesheet" type="text/css" />
}

@TempData["alertNotification"]

@section Breadcrumb{
    <div class="page-title d-flex flex-column me-5 ms-lg-15">
        <!--begin::Title-->
        <h1 class=" text-dark fw-bolder fs-2 mb-0">
            <span class="badge badge-danger display-1 p-2">SKU</span> Product
        </h1>
        <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 pt-1">
            <li class="breadcrumb-item text-muted">
                <a asp-action="Index" asp-controller="Home" class="text-muted text-hover-primary">
                    Home
                </a>
            </li>
            <li class="breadcrumb-item">
                <span class="bullet bg-gray-300 w-5px h-2px"></span>
            </li>
            <li class="breadcrumb-item text-muted">
                eCommerce
            </li>
            <li class="breadcrumb-item">
                <span class="bullet bg-gray-300 w-5px h-2px"></span>
            </li>
            <li class="breadcrumb-item text-muted">
                <a asp-action="ListOfSkuProducts" asp-controller="Cashier" class="text-muted text-hover-primary">
                    Products
                </a>
            </li>
            <li class="breadcrumb-item">
                <span class="bullet bg-gray-300 w-5px h-2px"></span>
            </li>
            <li class="breadcrumb-item text-muted">
                AddProduct
            </li>
        </ul>
    </div>
}
<form id="productForm" method="post" asp-action="create" asp-controller="Cashier" enctype="multipart/form-data" class="form d-flex flex-column flex-lg-row" data-kt-redirect="products.html">
    <!--begin::Aside column-->
    <div class="d-flex flex-column gap-7 gap-lg-10 w-100 w-lg-300px mb-7 me-lg-10">
        <!--begin::Thumbnail settings-->
        <div class="card card-flush py-4">
            <!--begin::Card header-->
            <div class="card-header">
                <!--begin::Card title-->
                <div class="card-title">
                    <h2>Thumbnail</h2>
                </div>
                <!--end::Card title-->
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body text-center pt-0">
                <!--begin::Image input-->
                <div class="image-input image-input-empty image-input-outline mb-3" data-kt-image-input="true" style="background-image: url(/images/person-photo-placeholder.png)">
                    <!--begin::Preview existing avatar-->
                    <div class="image-input-wrapper w-150px h-150px"></div>
                    <!--end::Preview existing avatar-->
                    <!--begin::Label-->
                    <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change avatar">
                        <i class="bi bi-pencil-fill fs-7"></i>
                        <!--begin::Inputs-->
                        <input asp-for="ThumbnailFormFile" type="file" accept=".png, .jpg, .jpeg" />
                        <input type="hidden" name="avatar_remove" />
                        <!--end::Inputs-->
                    </label>
                    <!--end::Label-->
                    <!--begin::Cancel-->
                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel avatar">
                        <i class="bi bi-x fs-2"></i>
                    </span>
                    <!--end::Cancel-->
                    <!--begin::Remove-->
                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Remove avatar">
                        <i class="bi bi-x fs-2"></i>
                    </span>
                    <!--end::Remove-->
                </div>
                <!--end::Image input-->
                <!--begin::Description-->
                <div class="text-muted fs-7">
                    <span asp-validation-for="ThumbnailFormFile" class="text-danger"></span>
                </div>
                <!--end::Description-->
            </div>
            <!--end::Card body-->
        </div>
        <!--end::Thumbnail settings-->
        <!--begin::Category & tags-->
        <div class="card card-flush py-4">
            <!--begin::Card header-->
            <div class="card-header">
                <!--begin::Card title-->
                <div class="card-title">
                    <h2>Status</h2>
                </div>
                <!--end::Card title-->
                <!--begin::Card toolbar-->
                <div class="card-toolbar">
                    <div class="rounded-circle bg-success w-15px h-15px" id="kt_ecommerce_add_product_status"></div>
                </div>
                <!--begin::Card toolbar-->
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body pt-0">
                <!--begin::Select2-->
                <select asp-for="Status" asp-items="@Model.ListOfStatus" class="form-select mb-2" data-control="select2" data-hide-search="true" data-placeholder="Status Description"></select>
                <!--end::Select2-->
                <!--begin::Description-->
                <div class="text-muted fs-7">
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <!--end::Description-->
            </div>
            <!--end::Card body-->
            <!--begin::Card header-->
            <div class="card-header">
                <!--begin::Card title-->
                <div class="card-title">
                    <h2>Product Details</h2>
                </div>
                <!--end::Card title-->
            </div>
            <!--end::Card header-->
            @*<!--begin::Card header-->
            <div class="card-header">
            <div class="card-title">
            <h2>General</h2>
            </div>
            </div>
            <!--end::Card header-->*@
            <!--begin::Card body-->
            <div class="card-body pt-0">
                <!--begin::Input group-->
                <div class="mb-10 fv-row">
                    <!--begin::Label-->
                    <label class="required form-label" asp-for="Name"></label>
                    <!--end::Label-->
                    <!--begin::Input-->
                    <input type="text" asp-for="Name" class="form-control mb-2" placeholder="Product name" />
                    <!--end::Input-->
                    <!--begin::Description-->
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <!--end::Description-->
                </div>
                <!--end::Input group-->
                <!--begin::Input group-->
                <div class="mb-10 fv-row fv-plugins-icon-container fv-plugins-bootstrap5-row-invalid">
                    <!--begin::Label-->
                    <label asp-for="ShortDescription" class="form-label"></label>
                    <!--end::Label-->
                    <!--begin::Editor-->
                    <input type="text" asp-for="ShortDescription" class="form-control mb-2" placeholder="Short Description" />
                    <!--end::Input-->
                    <!--begin::Description-->
                    <span asp-validation-for="ShortDescription" class="text-danger"></span>

                    <div id="lang-ShortDescription">
                        @Html.Raw(Model.ShortDescription)
                    </div>
                    <!--end::Editor-->

                </div>
                <!--end::Input group-->
                <div class="mb-10 fv-row fv-plugins-icon-container fv-plugins-bootstrap5-row-invalid">
                    <!--begin::Label-->
                    <label asp-for="Price" class="form-label required"></label>
                    <!--end::Label-->
                    <!--begin::Editor-->
                    <input type="number" asp-for="Price" class="form-control mb-2" value="" />
                    <!--end::Input-->
                    <!--begin::Description-->
                    <span asp-validation-for="Price" class="text-danger"></span>

                    <!--end::Editor-->

                </div>
                <!--end::Input group-->
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body pt-0 pb-0">
                <!--begin::Input group-->
                <!--begin::Label-->
                <label class="form-label">Categories</label>
                <!--end::Label-->
                <!--begin::Select2-->
                <select class="form-select mb-2" data-control="select2" data-placeholder="Select an option" data-allow-clear="true" multiple="multiple">
                    <option></option>
                    <option value="Computers">Computers</option>
                    <option value="Watches">Watches</option>
                    <option value="Headphones">Headphones</option>
                    <option value="Footwear">Footwear</option>
                    <option value="Cameras">Cameras</option>
                    <option value="Shirts">Shirts</option>
                    <option value="Household">Household</option>
                    <option value="Handbags">Handbags</option>
                    <option value="Wines">Wines</option>
                    <option value="Sandals">Sandals</option>
                </select>
                <!--end::Select2-->
                <!--begin::Description-->
                <div class="text-muted fs-7 mb-7">Add product to a category.</div>
                <!--end::Description-->
                <!--end::Input group-->
                <!--begin::Button-->
                <a asp-action="Create" asp-controller="Category" class="btn btn-light-primary btn-sm mb-10">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr087.svg-->
                    <span class="svg-icon svg-icon-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="11" y="18" width="12" height="2" rx="1" transform="rotate(-90 11 18)" fill="black" />
                            <rect x="6" y="11" width="12" height="2" rx="1" fill="black" />
                        </svg>
                    </span>
                    <!--end::Svg Icon-->Create new category
                </a>

                <!--end::Button-->
                <!--begin::Input group-->
                <!--begin::Label-->
                @*  <label class="form-label d-block">Tags</label>
                <!--end::Label-->
                <!--begin::Input-->
                <input id="kt_ecommerce_add_product_tags" name="kt_ecommerce_add_product_tags" class="form-control mb-2" value="" />
                <!--end::Input-->
                <!--begin::Description-->
                <div class="text-muted fs-7">Add tags to a product.</div>*@
                <!--end::Description-->
                <!--end::Input group-->
            </div>
            <!--end::Card body-->

        </div>
        <!--end::Category & tags-->
    </div>
    <!--end::Aside column-->
    <!--begin::Main column-->
    <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
        <!--begin:::Tabs-->
        <ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-bold mb-n2">
            <!--begin:::Tab item-->
            <li class="nav-item">
                <a class="nav-link text-active-primary pb-4 active" data-bs-toggle="tab" href="#kt_ecommerce_add_product_english">Engilsh</a>
            </li>
            <!--end:::Tab item-->
        </ul>
        <!--end:::Tabs-->
        <!--begin::Tab content-->
        <div class="tab-content">
            <!--begin::Tab pane-->
            <div class="tab-pane fade show active" id="kt_ecommerce_add_product_english" role="tab-panel">
                <div class="d-flex flex-column gap-7 gap-lg-10">
                    <!--begin::General options-->
                    <div class="card card-flush py-4">
                        <!--begin::Card header-->
                        <div class="card-header">
                            <div class="card-title">
                                <h2>Table Of Items</h2>
                            </div>
                            <div class="card-toolbar">
                                <a href="#" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#kt_modal_create_campaign">Create Campaign</a>
                            </div>
                            <div class="card-title">
                                <button class="btn btn-success" id="swalCall">Add with BarCode Scanner</button>
                            </div>
                        </div>
                        <!--end::Card header-->
                        <!--begin create item sku-->
                        <!--begin::Modal - Offer A Deal-->
                        <div class="modal fade" id="kt_modal_create_campaign" tabindex="-1" aria-hidden="true">
                            <!--begin::Modal dialog-->
                            <div class="modal-dialog modal-fullscreen p-9">
                                <!--begin::Modal content-->
                                <div class="modal-content modal-rounded">
                                    <!--begin::Modal header-->
                                    <div class="modal-header py-7 d-flex justify-content-between">
                                        <!--begin::Modal title-->
                                        <h2>Create Campaign</h2>
                                        <!--end::Modal title-->
                                        <!--begin::Close-->
                                        <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                                            <span class="svg-icon svg-icon-1">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                    <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black" />
                                                    <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black" />
                                                </svg>
                                            </span>
                                            <!--end::Svg Icon-->
                                        </div>
                                        <!--end::Close-->
                                    </div>
                                    <!--begin::Modal header-->
                                    <!--begin::Modal body-->
                                    <div class="modal-body scroll-y m-5">
                                        <!--begin::Stepper-->
                                        <div class="stepper stepper-links d-flex flex-column" id="kt_modal_create_campaign_stepper">
                                            <!--begin::Nav-->
                                            <div class="stepper-nav justify-content-center py-2">
                                                <!--begin::Step 1-->
                                                <div class="stepper-item me-5 me-md-15 current" data-kt-stepper-element="nav">
                                                    <h3 class="stepper-title">Item SKU</h3>
                                                </div>
                                                <!--end::Step 1-->
                                               
                                            </div>
                                            <!--end::Nav-->
                                            <!--begin::Form-->
                                            <form class="mx-auto w-100 mw-600px pt-15 pb-10" novalidate="novalidate" id="kt_modal_create_campaign_stepper_form">
                                                <!--begin::Step 1-->
                                                <div class="current" data-kt-stepper-element="content">
                                                    <!--begin::Wrapper-->
                                                    <div class="w-100">
                                                        <!--begin::Heading-->
                                                        <div class="pb-10 pb-lg-15">
                                                            <!--begin::Title-->
                                                            <h2 class="fw-bolder d-flex align-items-center text-dark">
                                                                Setup Campaign Details
                                                                <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Campaign name will be used as reference within your campaign reports"></i>
                                                            </h2>
                                                            <!--end::Title-->
                                                            <!--begin::Notice-->
                                                            <div class="text-muted fw-bold fs-6">
                                                                If you need more info, please check out
                                                                <a href="#" class="link-primary fw-bolder">Help Page</a>.
                                                            </div>
                                                            <!--end::Notice-->
                                                        </div>
                                                        <!--end::Heading-->
                                                        <!--begin::Input group-->
                                                        <div class="mb-10 fv-row">
                                                            <!--begin::Label-->
                                                            <label class="required form-label mb-3">Campaign Name</label>
                                                            <!--end::Label-->
                                                            <!--begin::Input-->
                                                            <input type="text" class="form-control form-control-lg form-control-solid" name="campaign_name" placeholder="" value="" />
                                                            <!--end::Input-->
                                                        </div>
                                                        <!--end::Input group-->
                                                    </div>
                                                    <!--end::Wrapper-->
                                                </div>
                                                <!--end::Step 1-->
                                                <!--begin::Step 4-->
                                                <div data-kt-stepper-element="content">
                                                    <!--begin::Wrapper-->
                                                    <div class="w-100">
                                                        <!--begin::Heading-->
                                                        <div class="pb-10 pb-lg-12">
                                                            <!--begin::Title-->
                                                            <h1 class="fw-bolder text-dark">Budget Estimates</h1>
                                                            <!--end::Title-->
                                                            <!--begin::Description-->
                                                            <div class="text-muted fw-bold fs-4">
                                                                If you need more info, please check
                                                                <a href="#" class="link-primary">Campaign Guidelines</a>
                                                            </div>
                                                            <!--end::Description-->
                                                        </div>
                                                        <!--end::Heading-->
                                                        <!--begin::Input group-->
                                                        <div class="fv-row mb-10">
                                                            <!--begin::Label-->
                                                            <label class="fs-6 fw-bold mb-2">
                                                                Campaign Duration
                                                                <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Choose how long you want your ad to run for"></i>
                                                            </label>
                                                            <!--end::Label-->
                                                            <!--begin::Duration option-->
                                                            <div class="d-flex gap-9 mb-7">
                                                                <!--begin::Button-->
                                                                <button type="button" class="btn btn-outline btn-outline-dashed btn-outline-default active" id="kt_modal_create_campaign_duration_all">
                                                                    Continuous duration
                                                                    <br />
                                                                    <span class="fs-7">Your ad will run continuously for a daily budget.</span>
                                                                </button>
                                                                <!--end::Button-->
                                                                <!--begin::Button-->
                                                                <button type="button" class="btn btn-outline btn-outline-dashed btn-outline-default" id="kt_modal_create_campaign_duration_fixed">
                                                                    Fixed duration
                                                                    <br />
                                                                    <span class="fs-7">Your ad will run on the specified dates only.</span>
                                                                </button>
                                                                <!--end::Button-->
                                                            </div>
                                                            <!--end::Duration option-->
                                                            <!--begin::Datepicker-->
                                                            <input class="form-control form-control-solid d-none" placeholder="Pick date &amp; time" id="kt_modal_create_campaign_datepicker" />
                                                            <!--end::Datepicker-->
                                                        </div>
                                                        <!--end::Input group-->
                                                        <!--begin::Input group-->
                                                        <div class="fv-row mb-10">
                                                            <!--begin::Label-->
                                                            <label class="fs-6 fw-bold mb-2">
                                                                Daily Budget
                                                                <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Choose the budget allocated for each day. Higher budget will generate better results"></i>
                                                            </label>
                                                            <!--end::Label-->
                                                            <!--begin::Slider-->
                                                            <div class="d-flex flex-column text-center">
                                                                <div class="d-flex align-items-start justify-content-center mb-7">
                                                                    <span class="fw-bolder fs-4 mt-1 me-2">$</span>
                                                                    <span class="fw-bolder fs-3x" id="kt_modal_create_campaign_budget_label"></span>
                                                                    <span class="fw-bolder fs-3x">.00</span>
                                                                </div>
                                                                <div id="kt_modal_create_campaign_budget_slider" class="noUi-sm"></div>
                                                            </div>
                                                            <!--end::Slider-->
                                                        </div>
                                                        <!--end::Input group-->
                                                    </div>
                                                    <!--end::Wrapper-->
                                                </div>
                                                <!--end::Step 4-->
                                                <!--begin::Step 5-->
                                                <div data-kt-stepper-element="content">
                                                    <!--begin::Wrapper-->
                                                    <div class="w-100">
                                                        <!--begin::Heading-->
                                                        <div class="pb-12 text-center">
                                                            <!--begin::Title-->
                                                            <h1 class="fw-bolder text-dark">Campaign Created!</h1>
                                                            <!--end::Title-->
                                                            <!--begin::Description-->
                                                            <div class="fw-bold text-muted fs-4">You will receive an email with with the summary of your newly created campaign!</div>
                                                            <!--end::Description-->
                                                        </div>
                                                        <!--end::Heading-->
                                                        <!--begin::Actions-->
                                                        <div class="d-flex flex-center pb-20">
                                                            <button id="kt_modal_create_campaign_create_new" type="button" class="btn btn-lg btn-light me-3" data-kt-element="complete-start">Create New Campaign</button>
                                                            <a href="#" class="btn btn-lg btn-primary" data-bs-toggle="tooltip" title="Coming Soon">View Campaign</a>
                                                        </div>
                                                        <!--end::Actions-->
                                                        <!--begin::Illustration-->
                                                        <div class="text-center px-4">
                                                            <img src="assets/media/illustrations/sketchy-1/9.png" alt="" class="mww-100 mh-350px" />
                                                        </div>
                                                        <!--end::Illustration-->
                                                    </div>
                                                </div>
                                                <!--end::Step 5-->
                                                <!--begin::Actions-->
                                                <div class="d-flex flex-stack pt-10">
                                                    <!--begin::Wrapper-->
                                                    <div class="me-2">
                                                        <button type="button" class="btn btn-lg btn-light-primary me-3" data-kt-stepper-action="previous">
                                                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr063.svg-->
                                                            <span class="svg-icon svg-icon-3 me-1">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                                    <rect opacity="0.5" x="6" y="11" width="13" height="2" rx="1" fill="black" />
                                                                    <path d="M8.56569 11.4343L12.75 7.25C13.1642 6.83579 13.1642 6.16421 12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75L5.70711 11.2929C5.31658 11.6834 5.31658 12.3166 5.70711 12.7071L11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25C13.1642 17.8358 13.1642 17.1642 12.75 16.75L8.56569 12.5657C8.25327 12.2533 8.25327 11.7467 8.56569 11.4343Z" fill="black" />
                                                                </svg>
                                                            </span>
                                                            <!--end::Svg Icon-->Back
                                                        </button>
                                                    </div>
                                                    <!--end::Wrapper-->
                                                    <!--begin::Wrapper-->
                                                    <div>
                                                        <button type="button" class="btn btn-lg btn-primary" data-kt-stepper-action="submit">
                                                            <span class="indicator-label">
                                                                Submit
                                                                <!--begin::Svg Icon | path: icons/duotune/arrows/arr064.svg-->
                                                                <span class="svg-icon svg-icon-3 ms-2 me-0">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                                        <rect opacity="0.5" x="18" y="13" width="13" height="2" rx="1" transform="rotate(-180 18 13)" fill="black" />
                                                                        <path d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z" fill="black" />
                                                                    </svg>
                                                                </span>
                                                                <!--end::Svg Icon-->
                                                            </span>
                                                            <span class="indicator-progress">
                                                                Please wait...
                                                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                                            </span>
                                                        </button>
                                                        <button type="button" class="btn btn-lg btn-primary" data-kt-stepper-action="next">
                                                            Continue
                                                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr064.svg-->
                                                            <span class="svg-icon svg-icon-3 ms-1 me-0">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                                    <rect opacity="0.5" x="18" y="13" width="13" height="2" rx="1" transform="rotate(-180 18 13)" fill="black" />
                                                                    <path d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z" fill="black" />
                                                                </svg>
                                                            </span>
                                                            <!--end::Svg Icon-->
                                                        </button>
                                                    </div>
                                                    <!--end::Wrapper-->
                                                </div>
                                                <!--end::Actions-->
                                            </form>
                                            <!--end::Form-->
                                        </div>
                                        <!--end::Stepper-->
                                    </div>
                                    <!--begin::Modal body-->
                                </div>
                            </div>
                        </div>
                        <!--end::Modal - Offer A Deal-->
                        <!--end create item sku-->
                        <!--begin::Card body-->
                        <div class="card-body pt-0">
                            <!--begin::Input group-->
                            <div class="container">
                                <table class="table table-striped table-bordered dt-resposive nowrap AG-data-table"
                                       id="SkuProducts"
                                       data-AG-columns='@Html.Raw(ViewBag.columns)'
                                       data-AG-message='@Html.Raw(ViewBag.Message)'
                                       data-AG-load-url='@Url.Action("LoadDataTable","Cashier")'
                                       data-AG-edit='@Url.Action("Edit","Cashier")'
                                       data-AG-delete='@Url.Action("Delete","Cashier")'>
                                    <thead>
                                        <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                                            <th>ID</th>
                                            @* @foreach (var item in ViewBag.stringColumns)
                                            {
                                            <th>@item</th>
                                            }*@
                                            <th>Name</th>
                                            <th>BarCode Number</th>
                                            <th>Price</th>
                                            <th>Discreption</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody class="fw-bold">
                                    </tbody>
                                    <tfoot>
                                        <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>BarCode Number</th>
                                            <th>Price</th>
                                            <th>Discreption</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!--end::Input group-->
                        </div>
                        <!--end::Card header-->
                    </div>
                    <!--end::General options-->
                </div>
            </div>
            <!--end::Tab pane-->
        </div>
        <!--end::Tab content-->
        <div class="d-flex justify-content-end">
            <!--begin::Button-->
            <a asp-action="index" id="kt_ecommerce_add_product_cancel" class="btn btn-light me-5">Cancel</a>
            <!--end::Button-->
            <!--begin::Button-->
            <button type="submit" id="kt_ecommerce_add_product_submit" class="btn btn-primary">
                <span class="indicator-label">Save Changes</span>
                <span class="indicator-progress">
                    Please wait...
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
            </button>
            <!--end::Button-->
        </div>
    </div>
    <!--end::Main column-->
</form>

@section Scripts {

    <script>
        $(document).ready(function () {
            $("#swalCall").on('click', function (event) {
                event.preventDefault();
                //_Swal.TextInput();
                _Swal.MultiInput();
            })
        });


        //var _Swal = {
        //    TextInput: function () {
        //        const { value: barcode } = Swal.fire({
        //            title: "Scan Barcode",
        //            text: "or write serial number",
        //            input: 'text',
        //            showCancelButton: true,
        //            inputValidator: (value) => {
        //                if (!value) {
        //                    return 'You need to Scan your Barcode!'
        //                }
        //            }
        //        }).then((result) => {
        //            if (result.isConfirmed) {
        //                Swal.fire('Saved!', '', 'success')
        //            }
        //        });

        //    },
        //    MultiInput: async function () {
        //        const { value: formValues } = await Swal.fire({
        //            title: 'Multiple inputs',
        //            html:
        //                'Barcode:<input id="swal-input1" class="swal2-input">' +
        //                'Price:<input id="swal-input2" class="swal2-input">' +
        //                'Expiry_Date:<input id="swal-input3" class="swal2-input">',
        //            focusConfirm: false,
        //            preConfirm: () => {
        //                return [
        //                    document.getElementById('swal-input1').value,
        //                    document.getElementById('swal-input3').value,
        //                    document.getElementById('swal-input2').value
        //                ]
        //            }
        //        })

        //        if (formValues) {
        //            Swal.fire(JSON.stringify(formValues))
        //        }
        //    }
        //}
    </script>
    }

